@model EventVisitors_MVC.Models.LoginClass

@{
    ViewBag.Title = "Inloggning";
}

    <body style="background-image: url('../../Image/Bakgrund.jpg'); "> <!--Lägga in någon bild? samma på regristrering-->

        <div class="wrapper fadeInDown">
            <div id="formContent">

                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()

                    <div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <h3>Logga in</h3> <br />

                        <div class="loginText">
                            <p>E-mail: </p>


                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })


                        </div>
                        <div class="loginText">
                            <p>Lösenord: </p>

                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @style= "" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group text-center">

                            <input type="submit" value="Logga in" class="btn brown" />

                        </div>
                    </div>
                }

                <div id="formFooter">
                    @Html.ActionLink("Jag vill registrera mig", "RegistrationUser", "Registration")
                </div>
            </div>
        </div>

    </body>
