@model IEnumerable<EventVisitors_MVC.Models.EventsClass>

@{
    ViewBag.Title = "Startsida";
}
   
    <div class="jumbotron">

        <h2 class="Titel text-center" >FILTRERING AV</h2>
        <h1 class="TitelEvent text-center">EVENTS</h1> <br />

            <div style="text-align:center">
                @Html.ActionLink("Alla", "Index", new { selectedCategory = "" }, new { @class = "btn brown" })

                @Html.ActionLink("Musik", "Index", new { selectedCategory = "Musik" }, new { @class = "btn brown" })

                @Html.ActionLink("Bingo", "Index", new { selectedCategory = "Bingo" }, new { @class = "btn brown" })

                @Html.ActionLink("Festival", "Index", new { selectedCategory = "Festival" }, new { @class = "btn brown" })

                @Html.ActionLink("Loppis", "Index", new { selectedCategory = "Loppis" }, new { @class = "btn brown" })

                @Html.ActionLink("Klädbytardag", "Index", new { selectedCategory = "Klädbytardag" }, new { @class = "btn brown" })

                @Html.ActionLink("Övrigt", "Index", new { selectedCategory = "Övrigt" }, new { @class = "btn brown" })

                @Html.ActionLink("Högtid", "Index", new { selectedCategory = "Högtid" }, new { @class = "btn brown" })

                @Html.ActionLink("Kultur", "Index", new { selectedCategory = "Kultur" }, new { @class = "btn brown" })

                @Html.ActionLink("Utbildning", "Index", new { selectedCategory = "Utbildning" }, new { @class = "btn brown" })

                @Html.ActionLink("Tävling", "Index", new { selectedCategory = "Tävling" }, new { @class = "btn brown" })

                @Html.ActionLink("Utställning", "Index", new { selectedCategory = "Utställning" }, new { @class = "btn brown" })

                @Html.ActionLink("Motion", "Index", new { selectedCategory = "Motion" }, new { @class = "btn brown" })
            </div>
            <br />
            <br />
            <div style="text-align:center">
                @Html.ActionLink("Film", "Index", new { selectedCategory = "Film" }, new { @class = "btn brown" })

                @Html.ActionLink("Barn & Familj", "Index", new { selectedCategory = "Barn & Familj" }, new { @class = "btn brown" })

                @Html.ActionLink("Klädbytardag", "Index", new { selectedCategory = "Klädbytardag" }, new { @class = "btn brown" })

                @Html.ActionLink("Marknad", "Index", new { selectedCategory = "Marknad" }, new { @class = "btn brown" })

                @Html.ActionLink("Konsert", "Index", new { selectedCategory = "Konsert" }, new { @class = "btn brown" })

                @Html.ActionLink("Ospecificerad", "Index", new { selectedCategory = "Ospecificerad" }, new { @class = "btn brown" })

                @Html.ActionLink("Sport", "Index", new { selectedCategory = "Sport" }, new { @class = "btn brown" })
            </div>
        </div>


    <div class="row">

    @foreach (var item in Model)
    {
    <div class="containerr col-md-3">
        <img src="@Html.DisplayFor(modelItem => item.Event_Imagelink)" class="imageStart" />
        <br />
        <div class="card-body d-flex flex-column">
            <p>
                @Html.DisplayFor(modelItem => item.Event_Name)
            </p>
            <p>
                Start: @Html.DisplayFor(modelItem => item.Event_Start_Datetime)
            </p>
            <p>
                Slut: @Html.DisplayFor(modelItem => item.Event_End_Datetime)
            </p>
            <p>
                Biljettpris: @Html.DisplayFor(modelItem => item.Event_Ticket_Price)
            </p>
            <p>
                Arrangör: @Html.DisplayFor(modelItem => item.Event_Organizer.Name)
            </p>
            @*<p>
                Kategori: @Html.DisplayFor(modelItem => item.Event_Category.Category_Name)
            </p>*@
        </div>
        <div class="overlay">
            <p class="text" style="padding-top:8px">
                
                <strong>Mer om eventet:  </strong> <br />
                @Html.DisplayFor(modelItem => item.Event_Description)
                <br /> 
                <strong> Stad:</strong> <br />
                @Html.DisplayFor(modelItem => item.Event_Facility.Place.City)
                <br /> 
              <strong>  Plats:  </strong> <br />
                @Html.DisplayFor(modelItem => item.Event_Facility.Place.Name)
            </p>
                    <div class="knappOverlay1">

                        @using (Html.BeginForm("Anmalan", "Home", new { eventId = item.Event_id }, FormMethod.Post))
                        {
                            <div><input type="submit" value="Anmäl dig som besökare" /><br /></div>
                            <div>@Html.ValidationSummary()</div>
                        }
                        <br />
                        @if (item.Event_Seeking_Volunteers == true)
                        {
                            using (Html.BeginForm("VolonterAnmalan", "Home", new { eventId = item.Event_id }, FormMethod.Post))
                            {
                                <div><input type="submit" value="Anmäl dig som volontär" /><br /></div>
                                <div>@Html.ValidationSummary()</div>
                            }
                        }
                    </div>

        </div>
     </div>

}
</div>