@model IEnumerable<EventVisitors_MVC.Models.EventsClass>

@{
    ViewBag.Title = "Startsida";
}
@Session["Namn"]
   
       <div class="jumbotron">
        <p>Filtrering av Event</p>

        @Html.ActionLink("Alla", "Index", new { selectedCategory = "" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Musik", "Index", new { selectedCategory = "Musik" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Bingo", "Index", new { selectedCategory = "Bingo" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Festival", "Index", new { selectedCategory = "Festival" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Loppis", "Index", new { selectedCategory = "Loppis" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Klädbytardag", "Index", new { selectedCategory = "Klädbytardag" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Övrigt", "Index", new { selectedCategory = "Övrigt" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Högtid", "Index", new { selectedCategory = "Högtid" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Kultur", "Index", new { selectedCategory = "Kultur" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Utbildning", "Index", new { selectedCategory = "Utbildning" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Tävling", "Index", new { selectedCategory = "Tävling" }, new { @class = "btn btn-primary", @style = "color:white" })
        <br/>
        <br/>
        @Html.ActionLink("Utställning", "Index", new { selectedCategory = "Utställning" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Motion", "Index", new { selectedCategory = "Motion" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Film", "Index", new { selectedCategory = "Film" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Barn & Familj", "Index", new { selectedCategory = "Barn & Familj" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Klädbytardag", "Index", new { selectedCategory = "Klädbytardag" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Marknad", "Index", new { selectedCategory = "Marknad" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Konsert", "Index", new { selectedCategory = "Konsert" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Ospecificerad", "Index", new { selectedCategory = "Ospecificerad" }, new { @class = "btn btn-primary", @style = "color:white" })

        @Html.ActionLink("Sport", "Index", new { selectedCategory = "Sport" }, new { @class = "btn btn-primary", @style = "color:white" })
    </div>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="containerr col-md-3">
            <img src="@Html.DisplayFor(modelItem => item.Event_Imagelink)" class="imageStart" />
            <br />
            <div class="card-body d-flex flex-column">
                <p>
                    @Html.DisplayFor(modelItem => item.Event_Name)
                </p>
                <p>
                    Start: @Html.DisplayFor(modelItem => item.Event_Start_Datetime)
                </p>
                <p>
                    Slut: @Html.DisplayFor(modelItem => item.Event_End_Datetime)
                </p>
                <p>
                    Biljettpris: @Html.DisplayFor(modelItem => item.Event_Ticket_Price)
                </p>
                <p>
                    Arrangör: Namn på arrangör
                </p>
                <p>
                    Kategori: @Html.DisplayFor(modelItem => item.Event_Category.Category_Name)
                </p>
            </div>
            <div class="overlay">
                <p class="text">
                    @Html.DisplayFor(modelItem => item.Event_Description)
                    <br />
                    Plats:
                </p>
                <div class="knappOverlay1">
                    <form action="~/Save/" method="post">
                        <button class="btn knapp" type="submit" value="Submit" id="SaveEvent">Spara Event</button>
                    </form>
                    <br />
                    @if (item.Event_Seeking_Volunteers == true)
                    {
                        <button class="btn knapp" type="submit" value="Submit" id="BeVolonteer">Anmäl som Volontär</button>
                    }

                </div>
                <div class="overlay">
                    <p class="text">
                        @Html.DisplayFor(modelItem => item.Event_Description)
                        <br />
                        Plats:
                    </p>
                    <div class="knappOverlay1">
                        <form action="~/Save/" method="post">
                            <button class="btn knapp" type="submit" value="Submit" id="SaveEvent">Spara Event</button>
                        </form>
                        <br />
                        @if (item.Event_Seeking_Volunteers == true)
                        {
                            <button class="btn knapp" type="submit" value="Submit" id="BeVolonteer">Anmäl som Volontär</button>
                        }
                    </div>

                    <!-- OM VI SKA HA DROPPDOWN
                <div class="knappOverlay1">
                <div class="btn-group">
                    <button type="button" class="btn knapp dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Anmälan
                    </button>
                    <div class="dropdown-menu dropdown-menu-left">
                        <button class="dropdown-item" type="button" id="SaveEvent">Spara Event</button>
                        if (item.Event_Active == true)
                        {
                            <button class="dropdown-item" type="button" id="BeVolonteer">Bli Volontär</button>
                        }
                    </div>
                    </div>
                </div>-->
                </div>
            </div>
        }
    </div>