@model IEnumerable<EventVisitors_MVC.Models.EventsClass>

@{
    ViewBag.Title = "Index";
}

@Session["Namn"]

<div class="jumbotron">
    <h1 class="Pagetitle">Dina sparade event</h1>
    <p>Filtrering av Event</p>

    @Html.ActionLink("Alla", "Index", new { selectedCategory = "" }, new { @class = "btn btn-primary", @style = "color:white" })

    @Html.ActionLink("Volontär", "Index", new { selectedCategory = "Volontär" }, new { @class = "btn btn-primary", @style = "color:white" })

</div>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="containerr col-md-3">
            <br />
            <div class="card-body d-flex flex-column">
                <p>
                    @Html.DisplayFor(modelItem => item.Event_Name)
                </p>
                <p>
                    Start: @Html.DisplayFor(modelItem => item.Event_Start_Datetime)
                </p>
                <p>
                    Slut: @Html.DisplayFor(modelItem => item.Event_End_Datetime)
                </p>
                <p>
                    Biljettpris: @Html.DisplayFor(modelItem => item.Event_Ticket_Price)
                </p>
                <p>
                    Arrangör: @Html.DisplayFor(modelItem => item.Event_Organizer.Name)
                </p>

            </div>
            <div class="overlay">
                <p class="text">
                    Mer om eventet:
                        @Html.DisplayFor(modelItem => item.Event_Description)
                    <br />
                    Stad: @Html.DisplayFor(modelItem => item.Event_Facility.Place.City)
                    <br />
                    Plats: @Html.DisplayFor(modelItem => item.Event_Facility.Place.Name)
                </p>
                <div class="knappOverlay1">

                    @using (Html.BeginForm("AvAnmalan", "SavedEvents", new { eventId = item.Event_id }, FormMethod.Post))
                    {
                        <div><input type="submit" value="Avanmäl dig som besökare" /><br /></div>
                        <div>@Html.ValidationSummary()</div>
                    }
                    <br />
                    @if (item.User_Type.Contains("Volontär") )
                    {
                        using (Html.BeginForm("AvAnmalanVolonter", "SavedEvents", new { eventId = item.Event_id }, FormMethod.Post))
                        {
                            <div><input type="submit" value="Avanmäl dig som volontär" /><br /></div>
                            <div>@Html.ValidationSummary()</div>
                        }
                    }
                </div>
            </div>
        </div>

    }
</div>