@model IEnumerable<EventVisitors_MVC.Models.EventsClass>

@{
    ViewBag.Title = "Sparade Events";
}

<div class="text-center container">

    <h2 class="Titel">Dina Sparade </h2> <h1 class="TitelEvent">EVENTS</h1> <br />

</div>
<br />

<p> Filtrering av Event </p>

    @Html.ActionLink("Alla", "Index", new { selectedCategory = "" }, new { @class = "btn brown", @style = "color:black" })

    @Html.ActionLink("Volontär", "Index", new { selectedCategory = "Volontär" }, new { @class = "btn brown", @style = "color:black" })


<br />
<br />
<div class="row text-center">

    @foreach (var item in Model)
    {
        <div class="containerr col-md-3" style="border:outset">
            <br />
            <div class="card-body d-flex flex-column" style="padding-bottom:200px">
                <p>
                    <strong>@Html.DisplayFor(modelItem => item.Event_Name)</strong>
                </p>
                <p>
                    Start: @Html.DisplayFor(modelItem => item.Event_Start_Datetime)
                </p>
                <p>
                    Slut: @Html.DisplayFor(modelItem => item.Event_End_Datetime)
                </p>
                <br />


            </div>
            <div class="overlay">
                <div class="knappOverlay1">

                    @using (Html.BeginForm("AvAnmalan", "SavedEvents", new { eventId = item.Event_id }, FormMethod.Post))
                    {
                        <div><input type="submit" value="Avanmäl dig som besökare" /><br /></div>
                        <div>@Html.ValidationSummary()</div>
                    }
                    <br />
                    @if (item.User_Type.Contains("Volontär"))
                    {
                        using (Html.BeginForm("AvAnmalanVolonter", "SavedEvents", new { eventId = item.Event_id }, FormMethod.Post))
                        {
                            <div><input type="submit" value="Avanmäl dig som volontär" /><br /></div>
                            <div>@Html.ValidationSummary()</div>
                        }
                    }
                </div>
            </div>
        </div>

    }
</div>